

@media (max-width: 1056px) {
    .global__wrapper{
        flex-direction:column;
        justify-content: center;
    }
}



.global__wrapper{
    // background-color: aqua;
    margin-bottom: 85px;
    padding: 40px;
    padding-left: 60px;
    display: flex;
    // border: 1px solid black;
    border-radius: 20px;
    justify-content: flex-start;

    img{
        border-radius: 25px;
        height: 200px;
    }

    .left__wrapper{
        position: relative;

        
        .status{
            display: flex;
            justify-content: center;
            color: white;
            margin-top: 10px;
            font-weight: 200;
        }
        
    }

    .right__wrapper{
        margin: 30px;
        width: 100%;
        // background-color: rgb(255, 8, 201);
        .form__wrapper{
            transition: all 0.2s;
            font-size: 20px;
            position: relative;
            // background-color: aqua;
        
            transform-style: preserve-3d;
            input{
                transition: all 0.2s;
                margin-bottom: 5px;
                font-size: 20px;              
            }











            .ProfileData{
                transition: all 1s ease;
            
            } 
            .ProfileDataActive{
                opacity: 0;
                // display: none;
                pointer-events: none;
                transition: all 1s ease;
            }




            .ProfileDataForm{

                text-align: center;
                background-color: #ffffff32;
                width: 100%;
                max-width: 65%;
                border: 1px solid black;
                border-radius: 20px;
                position: absolute;
                overflow: hidden;
                transition: all 1.5s;
                opacity: 0;
                top: -50px;
                left: -80%;
                transform: rotateY(90deg); 
            }
            
            .ProfileDataFormActive{

                // filter: blur(5px);
                transition: all 1.5s;
                opacity: 1;
                top: -50px;
                left: 0px;
                transform: rotateY(0deg);       
                padding: 10px;
            }
        }
    }
}


























